.actor {
  min-width: 90px;
  max-width: 90px;
}

.avatar {
  display: block;
  font-size: 10px;
  object-fit: cover;
  width: 90px;
  height: 100px;
  margin-bottom: 5px;
}

.name {
  font-size: 12px;
  color: var(--main);
  line-height: 14px;
}

.character {
  margin-top: 2px;
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: var(--secondary);
}
