.input {
	position: relative;
	width: 100%;
	max-width: 400px;
	transition: all 0.2s;

	&.readonly {
		opacity: 0.5;

		input:focus {
			outline: none !important;
		}
	}

	&:not(.readonly) {
		// input hover
		input:not(:disabled):hover {
			border-color: var(--hover-primary-color);
		}

		// input focus
		input:focus {
			border-color: var(--primary-color);
			outline: none !important;
			box-shadow: 0 0 0 2px var(--shadow-primary-color);
		}
	}

	input {
		width: 100%;
		padding: 12px 20px;
		font-size: 16px;
		color: var(--main);
		background: var(--light-bg);
		border: none;
		border-radius: 15px;
		transition: all 0.2s;

		&::placeholder {
			color: var(--secondary);
		}

		&:disabled {
			cursor: not-allowed;
			opacity: 0.65;
		}
	}
}

.label {
	display: block;
	margin-bottom: 5px;
}

.error {
	margin-top: 3px;
	font-size: 14px;
	color: var(--danger);
}
