.shortMovieItem {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 20px;
  cursor: pointer;

  &:hover {
    background: var(--hover-bg);
  }
}

.poster {
  width: 45px;
  height: 70px;
  object-fit: cover;
  font-size: 8px;
}

.title {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
